.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form {
  width: 1170px;
  margin: auto;
  display: flex;
  gap: 20px;
}
form input {
  height: 40px;
  flex-basis: 80%;
}
form button {
  flex-basis: 20%;
}
.outerDiv {
  width: 1170px;
  margin: auto;
}
.outerDiv ul {
  margin: 50px;
  padding: 0px;
  list-style: none;
}
.outerDiv ul li {
  color: white;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
  background-color: #282c34;
}
.outerDiv ul li button {
  cursor: pointer;
  position: absolute;
  background: none;
  border: none;
  color: inherit;
  font-size: 30px;
  flex :auto;
}
.delete {
  right: 10px !important;
}
.edit {
  right: 40px !important;
}
.completetodo {
  text-decoration: line-through;
  color: red !important;
  background-color: black !important;
}
.tabsOuter ul {
  list-style: none;
  display: flex;
  margin: 0px;
  gap: 10px;
  padding: 0px;
}
.tabsOuter ul li button {
  background-color: #e4e4e4;
  border: none;
  color: #343a40;
  padding: 0.5rem 20px;
  margin-right: 18px;
  font-weight: 600;
  cursor: pointer;
}
.activeButton {
  color: white !important;
  background-color: #f60 !important;
}
