.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.paragraph {
  background-color: red;
  padding: 10px;
  width: 1000px;
  margin: auto;
  text-align: left;
}
.menu {
  width: 20%;
  text-align: left;
  left: -100%;
  position: fixed;
  transition: 0.5s;
  height: 100vh;
  background-color: #f60;
}
.menu ul li {
  list-style: none;
  padding: 10px 0px;
}
.micon {
  position: absolute;
  right: 10px;
}
.activeicon {
  left: 0px;
}
.modalOverlay {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}
.ModalDiv {
  position: fixed;
  top: -500%;
  left: 50%;
  transition: 0.3s;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.ModalDiv h3 {
  cursor: pointer;
}
.showModalDiv {
  top: 50%;
}
.en {
  position: fixed;
  right: -20px;
  top: 100px;
  transform: rotate(90deg);
}
.modalshow {
  display: block;
}
.faqOuter {
  width: 1320px;
  margin: auto;
}
.faqitems {
  border: 1px solid red;
  margin-bottom: 20px;
}
.faqitems h2 {
  margin: 0px;
  padding: 10px;
  background-color: #282c34;
  cursor: pointer;
  color: white;
  text-align: left;
}
.faqitems p {
  text-align: left;
  height: 0px;
  transition: 0.25s;
  margin: 0px;
  transform: scaleY(0);
  padding: 0px;
}
.activeAns {
  height: auto !important;
  transform: scaleY(1) !important;
  padding: 10px !important;
}
